<h1>Editing line</h1>

<%= render 'form' %>

<%= link_to 'Show', [@model,@experiment,@measurement,@line] %> |
<%= link_to 'Back', model_experiment_measurement_lines_path(@model,@experiment,@measurement) %>
