<div id="experiments_wrapper">
<%- m.experiments.trim.each do |e| %>

    <h3><%= e.title%></h3>
    <%- pdms = e.proxy_dyna_models.dyna_model_is(@dyna_model).where( ProxyDynaModel.arel_table[:rmse].not_eq(nil) ) %>
    <%- if pdms.blank? %>
    <div class="one_tab">There are no models associated with this experiment</div>
    <%- else %>
    <%= 
        
        collection_table( pdms, :id => 'measurements' , :class => 'formatted dataTable') do |t|
            t.header :title,        ProxyDynaModel.human_attribute_name(:title)
            param_list = @dyna_model.params.where(Param.arel_table[:output_only].not_eq(true))
            param_list.each do |param|
                t.header param.code, param.human_title.html_safe    
            end
            t.header :rmse
            t.header :bias
            t.header :accuracy
            t.header :show , ""
    
            t.rows.alternate = :odd
            t.rows.each do |row, pdm, index|
                # Notice there's no need to explicitly define the title
                row.title pdm.title.to_s
                param_list.each do |param|
                   begin
                   row.send(param.code.to_sym, pdm.proxy_params.where( param_id: param.id).first.value.round(5))
                   rescue
                      debugger
                      raise Exception 
                   end
                end
                row.rmse pdm.rmse.round(5)
                row.bias pdm.bias.round(5)
                row.accuracy pdm.accuracy.round(5)
                row.show "show"
            end
        end
    %>
    <%- end %>


    <div id="experiment_<%=e.id%>">
            <%= render partial: "experiment_info.html", :locals => { :e => e} %>        
    </div>

<%- end %>
</div>

