<% 
	context_menu = [
		{
			:key => :back, 
			:name => 'Back', 
			:url => url_for(:back),
			:options => {
				:unless => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :home, 
			:name => 'Goto dyna model', 
			:url => dyna_model_path(@dyna_model),
			:options => {
				:if => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "Edit dyna model" }
%><h1>Editing dyna model</h1>

<%= render 'form' %>

<div class="menu">
	<%= menu %>
</div>

