<% 
	context_menu = [
		{
			:key => :home, 
			:name => t('navigation.back'), 
			:url => dyna_model_path(@dyna_model),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { t('title.edit' , model: DynaModel.model_name.human.downcase) }
%><h1>Editing <%= DynaModel.model_name.human.downcase %></h1>

<%= render 'form', menu: menu %>
    