<% 
	context_menu = [
		{
			:key => :show, 
			:name => 'Show dyna model\'s details', 
			:url => dyna_model_path(@dyna_model),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :new, 
			:name => 'New parameter', 
			:url => new_dyna_model_param_path(@dyna_model),
			:options => {
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :stats, 
			:name => 'Statistical data', 
			:url => stats_dyna_model_path(@dyna_model),
			:options => {
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :index, 
			:name => 'Goto dyna models\' index', 
			:url => dyna_models_path,
			:options => {
				:container_class => 'menu',
				:class => "text"
		}}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { "Dyna Model's detail" } %>
<p id="notice"><%= notice %></p>

<h1><%= @dyna_model.title %> (dyna model)</h1>

<h3>Description:</h3>
<p>
  <%= simple_format (show (@dyna_model.description)) %>
</p>




<div class="menu">
	<%= menu %>
</div>

