<% 
	context_menu = [
		{
			:key => :home, 
			:name => t('navigation.back'), 
			:url => dyna_models_path,
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { t('title.new' , model: DynaModel.model_name.human) }
%>
<h1>New <%= DynaModel.model_name.human %></h1>

<%= render 'form', menu: menu %>
