<h1>Listing <%= pluralize(@models.length, Model.model_name.human.downcase)%></h1>

<%= 
    collection_table(@models, :id => 'models' , :class => 'formatted dataTable-no_sort' , "data-sig" => data_sig(@models) ) do |t|
        t.header :title,        sortable(Model.human_attribute_name(:title).downcase,Model,"",nil,Model.human_attribute_name(:title).downcase)
        t.header :description,  sortable(Model.human_attribute_name(:description).downcase,Model)
        t.header :show_h,       "", class: "no-sort" if can_column? :read , @models
        t.header :edit_h,       "", class: "no-sort" if (edit_p = can_column? :update , @models)
        t.header :destroy_h,    "", class: "no-sort" if edit_p

        t.rows.alternate = :odd
        t.rows.each do |row, model, index|
            # Notice there's no need to explicitly define the title
            row.title           word_wrap(model.title,:line_width => 40).gsub(/\n/, '<br/>')
            row.description     model.description_trimmed.gsub(/\n/, '<br/>')
            row.show_h          link_to t('action.show').downcase, model if can? :read, model
            row.edit_h          link_to t('action.edit').downcase, [:edit,model] if can? :update, model
            row.destroy_h       link_to t('action.remove').downcase, model, confirm: 'Are you sure?', method: :delete if can? :destroy, model
        end
    end
%>

<%= paginate @models , remote: remote_activated? %>