<% 
	context_menu = [
		{
			:key => :show, 
			:name => "Show scope", 
			:url => model_path(@model),
			:options => {
				:container_class => 'menu',
				:class => 'text'
			}
		},
		{
			:key => :back, 
			:name => "Back to scopes' index", 
			:url => models_url,
			:options => {
				:container_class => 'menu',
				:class => 'text'
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "Edit scope" }
%><h1>Editing model</h1>

<%= render 'form' %>

<div class="menu">
	<%= menu %>
</div>

