<% 
	context_menu = [].concat( back_menu( {key: :home, 
		name: t('navigation.goto' , destination: Model.model_name.human.downcase), 
		path: dyna_model_path(@model)} ))
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { t('title.edit' , model: Model.model_name.human) }
%><h1><%=t('title.edit' , model: Model.model_name.human)%></h1>

<%= render 'form', menu: menu %>

