<% 
	context_menu = [
		{
			:key => :new, 
			:name => t('navigation.new' , model: Model.model_name.human.downcase), 
			:url => new_model_path,
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :back, 
			:name => t('navigation.back'), 
			:url => url_for(:back),
			:options => {
				:unless => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => 'text'
			}
		},
		{
			:key => :home, 
			:name => t('navigation.goto' , destination: t('aux.root').downcase), 
			:url => root_url,
			:options => {
				:if => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { t('.title') } %>

<div id="models_listing">
<%= render 'models'%>
</div>

<div class="menu">
	<%= menu %>
</div>
<div id="measurements_listing">
<%= render 'measurements/measurements'%>
</div>
