<% 
	context_menu = [].concat( back_menu( {key: :home, 
		name: t('navigation.index_of' , model: Model.model_name.human.pluralize.downcase) , 
		path: dyna_models_path} ))
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { t('navigation.new' , model: Model.model_name.human) }
%>
<h1><%= t('navigation.new' , model: Model.model_name.human)%></h1>

<%= render 'form' , menu: menu%>
