<% 
	context_menu = [
		{
			:key => :back, 
			:name => "Back to scopes' index", 
			:url => models_url,
			:options => {
				:container_class => 'menu',
				:class => 'text'
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "New scope" }
%>
<h1>New model</h1>

<%= render 'form' %>

<div class="menu">
	<%= menu %>
</div>
