[submodule "vendor/plugins/table_helper"]
	path = vendor/plugins/table_helper
	url = git://github.com/rchekaluk/table_helper.git
[submodule "vendor/plugins/simple-navigation4"]
	path = vendor/plugins/simple-navigation
	url = git://github.com/andi/simple-navigation.git
