<h1>Editing measurement_line</h1>

<%= render 'form' %>

<%= link_to 'Show', [@model,@experiment,@measurement,@measurement_line] %> |
<%= link_to 'Back', model_experiment_measurement_measurement_lines_path(@model,@experiment,@measurement) %>
