<% 
	context_menu = [
		{
			:key => :back, 
			:name => t('navigation.back'), 
			:url => url_for(:back),
			:options => {
				:unless => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => 'text'
			}
		},
		{
			:key => :home, 
			:name => t('navigation.index_of' , model: Group.model_name.human.downcase), 
			:url => groups_path,
			:options => {
				:if => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { t('navigation.new' , model: Group.model_name.human) }
%>
<h1><%= t('navigation.new' , model: Group.model_name.human)%></h1>

<%= render 'form' %>
