<h2>Documentation for the application</h2>

<p>work in progress :)</p>

<dl>
    <dt>source code for BGFit (GPLv2): </dt>
    <dd>to be released soon</dd>
    <dt>source code for Modeling extensions (GPLv2): </dt>
    <dd>to be released soon</dd>
</dl>
