<h2>Documentation for the application</h2>

<p>Wiki with user guides: <a href="https://github.com/averissimo/BGFit/wiki">https://github.com/averissimo/BGFit/wiki</a></p>

<dl>
    <dt>source code for BGFit (GPLv2): </dt>
    <dd><%= link_to "https://github.com/averissimo/BGFit" %></dd>
    <dt>source code for Modeling extensions (GPLv2): </dt>
    <dd><%= link_to "https://github.com/averissimo/model_blackbox" %></dd>
</dl>
