<h2>Documentation for the application</h2>

<div><a class="btn" href="wiki">Wiki</a>(user guides and technical documentation)</div>
<br/>
<br/>
<div><a class="btn blank" href="bgfit_documentation.pdf">Documentation.pdf</a>(wiki documentation in one PDF)</div>
<br/>
<div class="one_tab">
<%= link_to "Source code for BGFit","https://github.com/averissimo/BGFit", class: "btn blank" %> in Github (GPLv2)  
<br/>
<br/>    
<%= link_to "Source code for Modeling extensions","https://github.com/averissimo/model_blackbox", class: "btn blank" %> in Github (GPLv2)
</div>
<br/>  
<br/>  
<br/>  
