<h2>Documentation for the application</h2>

<div><a class="btn" href="http://kdbio.inesc-id.pt/bgfit/wiki">Wiki</a>(user guides and technical documentation)</div>
<br/>
<br/>
<div><a class="btn blank" href="bgfit_documentation.pdf">Documentation.pdf</a>(wiki documentation in one PDF)</div>
<br/>
<div class="one_tab">
<%= link_to "Source code for BGFit","https://github.com/averissimo/BGFit", class: "btn blank" %> in Github (GPLv2)  
<br/>
<br/>    
<%= link_to "Source code for Modeling extensions","https://github.com/averissimo/model_blackbox", class: "btn blank" %> in Github (GPLv2)
</div>
<br/>  
<p>Supported by FCT under <a href="http://www.fct.mctes.pt/projectos/pub/2006/Painel_Result/vglobal_projecto.asp?idProjecto=100964&idElemConcurso=2742" target="_blank">PTDC/SAU-MII/100964/2008</a></p>
<br/>  
<br/>  
