<h2>Documentation for the application</h2>

<h3><a class="btn" href="wiki">Wiki with user guides</a></h3>

<div class="one_tab">
<%= link_to "Source code for BGFit","https://github.com/averissimo/BGFit", class: "btn blank" %> in Github (GPLv2)
<br/>  
<br/>  
<%= link_to "Source code for Modeling extensions","https://github.com/averissimo/model_blackbox", class: "btn blank" %> in Github (GPLv2)
</div>
<br/>  
<br/>  
<br/>  
