<h3>First action</h3>

<p>
	To start using this application and input/manage data goto Models by <%= link_to "Clicking here!" , models_path, :class => 'btn' %>
</p>
<p>
	To view/manage different Dynamic Models <%= link_to "Click here" , dyna_models_path, :class => 'btn blank' %>
	<br/>
	<span style="padding-left: 1em;">To download a the summary of the data from a specific dynamic model goto the link above and click on "stats" -> "download .csv data"</span>
</p>

<h3>Tips</h3>

<p>
	The top toolbar has all the navigation links in this web application. There are two static links that are common throught the application <i>(Home & Results)</i> 
	<br/>
	The print below shows these two static links
	<br/>
	<br/>
	<%= image_tag "menu.png"%>
</p>

<p>
	Additionnaly, there are some contextual actions, depending on the active page, which can be accessed next to the <i>&gt;</i> symbol in orange, as shown in the image below
	<br/>
	<br/>
	<%= image_tag "actions.png"%>
</p>
