

<%= form_for([@result]) do |f| %>
	
	<div style="display:none;">
	<%= 

	a = collection_table(@result.lines, :id => 'lines' , :class => 'formatted') do |t|
		t.header :id
		t.header :time
		t.header :regression, 'Regression'
		
		t.rows.alternate = :odd
		t.rows.each do |row, line, index|
		  # Notice there's no need to explicitly define the title
		  next if line.id == nil
		  f.fields_for :lines, line do |builder|
			  row.id			builder.text_field :id
			  row.time			line.time
			  row.regression	builder.check_box :regression, :class => 'regression'
		  end
		end
	
	end
%>

	</div>
	<div class="actions">
		<%= f.submit "Save regression"%>
	</div>

<% end %>
	
	
	