<h1>Editing "<%= @result.title %>"</h1>
<% content_for(:title) { "Editing result" } %>
<%= render 'form' %>

<h3>Lines</h3>

<%= 

	a = collection_table(@result.lines, :id => 'lines' , :class => 'formatted') do |t|
		t.header :time
		t.header :od600, 'OD600'
		t.header :ln_od600, 'ln( OD600 )'
		t.header :ph, 'pH'
		t.header :edit_h, ''
		t.header :destroy_h, ''
		
		t.rows.alternate = :odd
		t.rows.each do |row, line, index|
		  # Notice there's no need to explicitly define the title
		  next if line.id == nil
		  row.time		line.time
		  row.od600		line.od600
		  row.ln_od600	line.ln_od600
		  row.ph		line.ph
		  row.edit_h	link_to 'edit', edit_result_line_path(line.result, line) 
		  row.destroy_h	link_to 'destroy', [line.result, line], :confirm => 'Are you sure?', :method => :delete
		end
	
	end
 
%>


<h3 class="add_h2">Add a line (click here):</h3>
<h3 class="add_h2" style="display:none;">Add a line (click here to hide):</h3>
<div class="add">
<%= render "lines/form" %>
</div>

<% 
	context_menu = [
		{
			:key => :show, 
			:name => 'Show this result', 
			:url => result_path(@result),
			:options => {
				:dom_class => 'menu'
			}
		},
		{
			:key => :edit, 
			:name => 'Goto index', 
			:url => results_path,
			:options => {
				:container_class => 'menu'
			}
		}]
	
%>

<% content_for(:context_menu) { render_navigation :items => context_menu } %>
