<p>Bias Factor (B<sub>f</sub>):</p>
<%= image_tag("formulas/bias.svg", class: "noborder", data: { fallback: "formulas/bias.png"}) %>
<p> For more information check <span class="italic">Ross, T. <span class="bold">Indices for performance evaluation of predictive models in food microbiology.</span> Journal of Applied Bacteriology 81, 501–508 (1996).</span></p>
<p>(<%= a_out "link to journal article", "http://onlinelibrary.wiley.com/doi/10.1111/j.1365-2672.1996.tb03539.x/abstract", true %> )</p>
