<div class="text-justify">
  <p class="medium">
    Publications, discussing results obtained with the help of BGFit, are asked to reference the following paper and webpage:
  </p>
  <div class="one_tab">
    <p class="medium">
      <i>Veríssimo, A., Paixão, L., Neves, A. R. &amp; Vinga, S.
      BGFit: management and automated fitting of biological growth curves. BMC Bioinformatics 14, 283 (2013).</i>
    </p>
    <p>
      <span class="small">
        <a href="http://www.biomedcentral.com/1471-2105/14/283" class="show_more btn blank btn_small">BMC Bioinformatics</a>
        <a href="http://www.biomedcentral.com/pubmed/24067087 " class="show_more btn blank btn_small">Pubmed</a>
        <a href="http://www.citeulike.org/posturl?url=http://www.biomedcentral.com/1471-2105/14/283" class="show_more btn blank btn_small">Citeulike</a>
        <a href="http://www.mendeley.com/import/?url=http://www.biomedcentral.com/1471-2105/14/283" class="show_more btn blank btn_small">Mendeley</a>
      </span>
    </p>
  </div>
</div>
