<div class='tooltip padding-bottom-2em'>
  <span>Publications, discussing results obtained with the help of BGFit, <br/>are asked to reference the following paper and webpage:<br/><strong>Veríssimo et. al, BGFit: management and... </strong>(<a href='javascript:void(0)'>click for full citation</a>)</span>
  <span class='tooltip-text' style='margin-left: 0;padding-left:0'>
    Veríssimo, A., Paixão, L., Neves, A. R. &amp; Vinga, S.
    <br/>BGFit: management and automated fitting of biological growth curves. BMC Bioinformatics 14, 283 (2013).
    <ul class='small no-margin-left'>
      <li><a class='a-dark' href='http://www.biomedcentral.com/1471-2105/14/283' class='show_more btn blank btn_small'>BMC Bioinformatics</a></li>
      <li><a class='a-dark' href='http://www.biomedcentral.com/pubmed/24067087 ' class='show_more btn blank btn_small'>Pubmed</a></li>
      <li><a class='a-dark' href='http://www.citeulike.org/posturl?url=http://www.biomedcentral.com/1471-2105/14/283' class='show_more btn blank btn_small'>Citeulike</a></li>
      <li><a class='a-dark' href='http://www.mendeley.com/import/?url=http://www.biomedcentral.com/1471-2105/14/283' class='show_more btn blank btn_small'>Mendeley</a></li>
    </ul>
    <br/>webpage: http://kdbio.inesc-id.pt/bgfit<br/><br/>
  </span>
</div>
