<p>Root Mean Square Error (RMSE):</p>
<%= image_tag("formulas/rmse.svg", class: "noborder", data: { fallback: "formulas/rmse.png"} ) %>
<p> For more information: <%= a_out("link to Wikipedia article", "http://en.wikipedia.org/wiki/Root-mean-square_deviation", true) %></p>
