<p>Root Mean Square Error (RMSE):</p>
<%= image_tag("formulas/rmse.png", class: "noborder") %>
<p> For more information: <%= a_out("link to Wikipedia article", "http://en.wikipedia.org/wiki/Root-mean-square_deviation", true) %></p>
