<h3><%= t('aux.listing')%> <%= pluralize(@model.experiments.length, Experiment.model_name.human.downcase)%></h3>

<%= 
    collection_table(@experiments, :id => 'experiments' , :class => 'formatted dataTable-no_sort', "data-sig" => data_sig(@experiments) ) do |t|
        t.header :title,        Model.human_attribute_name(:title)
        t.header :description,  Model.human_attribute_name(:description)
        t.header :show_h,       "", class: "no-sort" if can_column? :read, @experiments
        #t.header :exp_h,       "", class: "no-sort"
        t.header :edit_h,       "", class: "no-sort" if can_column? :update, @experiments
        t.header :destroy_h,    "", class: "no-sort" if can_column? :update, @experiments

        t.rows.alternate = :odd
        t.rows.each do |row, experiment, index|
            # Notice there's no need to explicitly define the title
            row.title           experiment.title
            row.description     experiment.description
            row.show_h          link_to t('action.show').downcase, [@model,experiment] if can? :read, experiment
            row.edit_h          link_to t('action.edit').downcase, [:edit,@model,experiment] if can? :update, experiment
            #row.exp_h          link_to 'download .exp' , model_experiment_path(@model,experiment,:format => :exp)
            row.destroy_h       link_to t('action.remove').downcase, [@model,experiment], confirm: 'Are you sure?', method: :delete if can? :destroy, experiment
        end
    end
%>

<%= paginate @experiments, remote: remote_activated?  %>