defaults: &defaults
  adapter: postgresql
  encoding: unicode
  host: postgres
  pool: 5
  username: bgfit
  password: "password"

development:
  <<: *defaults
  database: bgfit_dev

test:
  <<: *defaults
  database: bgfit_test

pre:
  <<: *defaults
  database: bgfit_pre

production:
  <<: *defaults
  database: bgfit_prd
