production:
  user_name: user_name
  address: kdbio.inesc-id.pt
  port: 25
  domain: kdbio.inesc-id.pt
  password: password
  authentication: plain
  enable_starttls_auto: true
  
pre-production:
  user_name: user_name
  address: kdbio.inesc-id.pt
  port: 25
  domain: kdbio.inesc-id.pt
  password: password
  authentication: plain
  enable_starttls_auto: true
  
development:
  user_name: username
  address: kdbio.inesc-id.pt
  port: 25
  domain: kdbio.inesc-id.pt
  password: password
  authentication: plain
  enable_starttls_auto: true
