<% 
	context_menu = [].concat( back_menu( {key: :home, 
		name: t('navigation.goto' , destination: Measurement.model_name.human.pluralize.downcase), 
		path: url_for([@experiment,@measurement]) }))

	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "Edit Measurement" }
%>
<h1>Edit measurement</h1>

<%= render 'form', menu: menu %>
