<% 
	context_menu = [
		{
			:key => :show, 
			:name => "Goto experiment", 
			:url => url_for([@model,@experiment]),
			:options => {
				:container_class => 'menu',
				:class => 'text'
			}
		},
		{
			:key => :back, 
			:name => "Goto model", 
			:url => url_for(@model),
			:options => {
				:container_class => 'menu',
				:class => 'text'
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "New measurement" }
%>
<h1>New measurement</h1>

<%= render 'form' %>

<span><strong>tip:</strong> the original data field should be copied from the original excel, we propose the following format:</span>

<div style="padding-left:1em">the first row has the date and a description<br/>
the second row the fields, in this order<br/>
<span style="padding-left:1em">"time" / "y measurement" / "z measurement" (optional) / "comment" (optional)</span><br/>
following rows have the values with decimal separator as a "."
<br/>
<br/>
</div>

<TABLE CELLSPACING="0" COLS="3" BORDER="0">
	<COLGROUP SPAN="3" WIDTH="64"></COLGROUP>
	<TR>
		<TD COLSPAN=2 HEIGHT="13" ALIGN="CENTER"><B><FONT FACE="Calibri">28-6-2011 (A)</FONT></B></TD>
		<TD ALIGN="CENTER"><B><FONT FACE="Calibri"><BR></FONT></B></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER"><B><FONT FACE="Calibri">Time (h)</FONT></B></TD>
		<TD ALIGN="CENTER"><B><FONT FACE="Calibri">OD600</FONT></B></TD>
		<TD ALIGN="CENTER"><B><FONT FACE="Calibri">pH</FONT></B></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="0" SDNUM="1033;"><FONT FACE="Calibri">0</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="0.04" SDNUM="1033;"><FONT FACE="Calibri">0.04</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="6.511" SDNUM="1033;0;0.000"><FONT FACE="Calibri">6.511</FONT></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="1" SDNUM="1033;"><B><FONT FACE="Calibri">1</FONT></B></TD>
		<TD ALIGN="CENTER" SDVAL="0.113" SDNUM="1033;"><B><FONT FACE="Calibri">0.113</FONT></B></TD>
		<TD ALIGN="CENTER" SDNUM="1033;0;0.000"><FONT FACE="Calibri"><BR></FONT></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="2" SDNUM="1033;"><B><FONT FACE="Calibri">2</FONT></B></TD>
		<TD ALIGN="CENTER" SDVAL="0.363" SDNUM="1033;"><B><FONT FACE="Calibri">0.363</FONT></B></TD>
		<TD ALIGN="CENTER" SDVAL="6.433" SDNUM="1033;0;0.000"><FONT FACE="Calibri">6.433</FONT></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="3" SDNUM="1033;"><B><FONT FACE="Calibri">3</FONT></B></TD>
		<TD ALIGN="CENTER" SDVAL="0.924" SDNUM="1033;"><B><FONT FACE="Calibri">0.924</FONT></B></TD>
		<TD ALIGN="CENTER" SDNUM="1033;0;0.000"><FONT FACE="Calibri"><BR></FONT></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="4" SDNUM="1033;"><FONT FACE="Calibri">4</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="1.632" SDNUM="1033;"><FONT FACE="Calibri">1.632</FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1033;0;0.000"><FONT FACE="Calibri"><BR></FONT></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="5" SDNUM="1033;"><B><FONT FACE="Calibri" COLOR="#008000">5</FONT></B></TD>
		<TD ALIGN="CENTER" SDVAL="2.288" SDNUM="1033;"><B><FONT FACE="Calibri" COLOR="#008000">2.288</FONT></B></TD>
		<TD ALIGN="CENTER" SDVAL="5.365" SDNUM="1033;0;0.000"><B><FONT FACE="Calibri" COLOR="#008000">5.365</FONT></B></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="6" SDNUM="1033;"><FONT FACE="Calibri">6</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="2.172" SDNUM="1033;"><FONT FACE="Calibri">2.172</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="5.231" SDNUM="1033;0;0.000"><FONT FACE="Calibri">5.231</FONT></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="7" SDNUM="1033;"><FONT FACE="Calibri">7</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="2.188" SDNUM="1033;"><FONT FACE="Calibri">2.188</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="5.212" SDNUM="1033;0;0.000"><FONT FACE="Calibri">5.212</FONT></TD>
	</TR>
	<TR>
		<TD HEIGHT="13" ALIGN="CENTER" SDVAL="24" SDNUM="1033;"><FONT FACE="Calibri">24</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="2.076" SDNUM="1033;"><FONT FACE="Calibri">2.076</FONT></TD>
		<TD ALIGN="CENTER" SDVAL="5.318" SDNUM="1033;0;0.000"><FONT FACE="Calibri">5.318</FONT></TD>
	</TR>
</TABLE>

<div class="menu">
	<%= menu %>
</div>
