<% 
	context_menu = [].concat( back_menu( {key: :home, 
		name: t('navigation.index_of' , model: Experiment.model_name.human.pluralize.downcase), 
		path: url_for([@experiment]) }))
	
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "New measurement" }
%>
<h1>New measurement</h1>

<%= render 'form', menu: menu %>
