<div>
    <%=
        collection_table(@proxy_dyna_models, :id => 'proxy_dyna_,model' , :class => 'formatted dataTable') do |t|
            t.header :title,        DynaModel.model_name.human
            t.header :params,       Param.model_name.pluralize
            t.header :rmse,         ProxyDynaModel.human_attribute_name(:rmse)
            t.header :notes,        ProxyDynaModel.human_attribute_name(:note)
            t.header :show_h,       "", class: "no-sort" if can_column? :read, @proxy_dyna_models
            t.header :csv,          "", class: "no-sort" if can_column? :read , @proxy_dyna_models
            t.header(:edit_h,       "", class: "no-sort") if can_column? :update, @proxy_dyna_models
            t.header(:destroy_h,    "", class: "no-sort") if can_column? :update, @proxy_dyna_models

            t.rows.alternate = :odd
            t.rows.each do |row, proxy_dyna_model, index|
                # Notice there's no need to explicitly define the title
                row.title       proxy_dyna_model.title_join
                row.rmse        proxy_dyna_model.round(:rmse), :class => "small"
                row.params      proxy_dyna_model.params_to_string.html_safe, :class => "small"
                row.notes       { if proxy_dyna_model.notes.nil? then "" else word_wrap(proxy_dyna_model.notes,:line_width => 40).gsub(/\n/, '<br/>') end }
                row.show_h      link_to t('action.show').downcase, [proxy_dyna_model] if can? :read, proxy_dyna_model
                row.csv         link_to t('action.download_data').downcase, proxy_dyna_model_path(proxy_dyna_model, :format => :csv) if proxy_dyna_model.json.present? && can?(:read, proxy_dyna_model)
                row.edit_h      link_to t('action.edit').downcase, [:edit,proxy_dyna_model] if can? :update, proxy_dyna_model
                row.destroy_h   link_to t('action.remove').downcase, [proxy_dyna_model], confirm: 'Are you sure?', method: :delete if can? :update, proxy_dyna_model
            end
        end
%>
</div>

<div class="options">
  <span class="tooltip fake-link">
    click here for the definition of RMSE
    <span class='info-i hide-text'>click here for more information</span>
    <span class='tooltip-text'>
      <span>Root Mean Square Error (RMSE):</span><br/><br/>
      <%= image_tag("formulas/rmse.png", class: "noborder") %>
      <br/><br/> For more information: <%= a_out("link to Wikipedia article", "http://en.wikipedia.org/wiki/Root-mean-square_deviation", true) %>
    </span>
  </span>
</div>
