<% 
	context_menu = [
		{
			:key => :show, 
			:name => "Goto model", 
			:url => dyna_model_path(@proxy_dyna_model.dyna_model),
			:options => {
				:container_class => 'menu',
				:class => 'text'
			}
		},
		{
			:key => :back, 
			:name => 'Back', 
			:url => url_for(:back),
			:options => {
				:unless => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :home, 
			:name => 'Models index', 
			:url => proxy_dyna_models_url,
			:options => {
				:if => Proc.new { url_for(:back) == "javascript:history.back()" },
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "Edit Model Association" }
%><h1>Edit dynamic model association</h1>

<%= render 'form' %>

<div class="menu">
	<%= menu %>
</div>

