<% 
	context_menu = [
		{
			:key => :new, 
			:name => 'new dyna model', 
			:url => new_dyna_model_path,
			:options => {
				:container_class => 'menu'
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { "Dyna Model's index" } %>

<h1>Listing <%= pluralize(@dyna_models.length, 'dyna model')%></h1>

<%= 
	collection_table(@dyna_models, :id => 'dyna_models' , :class => 'formatted') do |t|
		t.header :title
		t.header :description
		t.header :show_h,		""
		t.header :edit_h,		""
		t.header :destroy_h,	""

		t.rows.alternate = :odd
    	t.rows.each do |row, dyna_model, index|
			# Notice there's no need to explicitly define the title
			row.title			word_wrap(dyna_model.title,:line_width => 40).gsub(/\n/, '<br/>')
			row.description		dyna_model.description_trimmed.gsub(/\n/, '<br/>')
			row.show_h			link_to 'show', dyna_model
			row.edit_h			link_to 'edit', [:edit,dyna_model]
			row.destroy_h		link_to 'remove', dyna_model, confirm: 'Are you sure?', method: :delete
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>
