/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

a {
	text-decoration: none;
}

a:active,
a:hover,
a:focus {
	text-decoration: underline;
	background-color: inherit!important;
	color: black!important;
}
div.actions {
	margin-left: auto;
}

table.formatted {
	margin-left: 3em;
}

table.formatted tr th,
table.formatted tr td {
	padding-right: 10px;
}

table.formatted tr td,
table.formatted tr th {
	border-bottom: solid 1px #808080;
}

table.formatted tr.ui-state-alternate {
	background-color: #DCDCDC;
}
