form.formtastic {
  width: 500px;
}

form {
  width: 100%;
}

input,
textarea    { padding: 4px 8px; border: 1px solid #aaa; background: #fff; }
textarea    { height: 12em; }

.formtastic .stringish input {
  line-height: 22px;
}
