form.formtastic {
  width: 550px;
}

form {
  width: 100%;
}

.formtastic .fragments .label label, .formtastic .choices .label label {
 position: relative; 
}

sup[title=required] {
  color: #f00;
  font-size: 0.7em;
}

.formtastic legend {
  color: #333333;
  white-space: normal;
}

.formtastic .input .inline {
  margin: 0em 0px 0px 25%;
  padding-top: 0px;
  & input {
    margin-left: 0px;
    margin-right: 2px;
  }
}

input,
textarea { padding: 4px 8px; border: 1px solid #aaa; background: #fff; padding-left: 1em;}

textarea.autogrow { 
  height: auto;
}

textarea { 
  height: 7em;
}
.formtastic .stringish input {
  line-height: 22px;
  padding-left: 0.5em; 
}

.formtastic .input .label {
  text-align: right;
  width: 23%;
  padding-right:2%;
  //width: 25%;
}
