// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header: 29px;
$header_line: 27px;
$tab: 3em; // also in results.css
$width: 1000px;

body {
  margin: 0px;
  padding:0px;
}

#content {
  margin-left:auto;
  margin-right:auto;
  margin-top: 80px;
  width: $width;
  //border: 1px solid black;
}

div#experiment_chart {
  width: $width;
}

img {
  border: 1px solid #333;
  margin-left: 2em;
}

p,dl {
  margin-left: $tab;
}

a {
  text-decoration: none;
  color: black;
  &:visited { }
  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
    color: black;
  }
}

form {
  display:inline-block;
}

div.actions {
  margin-left: auto;
  text-align: right;
}

div.field {
  label {
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    @extend p
  }
}

table.formatted {
  margin-left: $tab;
  padding-bottom:2em;
  tr {
    th,
    td {
      padding-top:3px;
      padding-bottom:3px;
      padding-left:3px;
      padding-right: 10px;
      border-bottom: solid 1px #808080;
    }
    &.ui-state-alternate {
      background-color: #DCDCDC;
    }  
  }  
}



#footer {
  text-align:center;
  margin-top: 5px;
  margin-bottom: 20px;
  span {
    font-size: 85%;
  }
  ul.menu{
    text-align: center;;
    padding-left: 0px;
    margin-top: 0px;
    display: block;
    list-style: none outside none;
  }
  li {
      display: inline-block;
      line-height: $header_line;
      padding: 0;
      position: relative;
      vertical-align: top;
      a {
        display: block;
        padding-right: 5px;
        padding-left: 5px;
      }

    }
}

#fixed-header {
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 990;
}
#header {
  background-color: #036;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 75%;
  padding-left: 40px;
}

#menu {
  background-color: #5EB935;
  border-bottom: 0px solid #000000;
  height: $header;
  margin:0px;
  padding:0px;
  padding-left: 40px;
  span {
      margin-left: 10px;
      vertical-align: middle;
      color:#DD4B39;
      float:left;
      line-height: $header_line + 6;
      font-size:1.5em;
      padding-right:10px;
    }
  div.menu-wrapper {
    float:left;
  }
  ul.menu {
    margin-top: 0px;
    li {
      line-height: $header_line;
      padding: 0;
      position: relative;
      vertical-align: top;
      a {
        border-top: 2px solid transparent;
        color: white;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
          background-color: #8FB77C;
        }
        &.selected {
          border-top: 2px solid #DD4B39;
          color: white;
        }
      }
    }
  }
}

div.one_tab {
  margin-left: $tab;
}

div.menu {
  ul.menu {
    padding-left: 0px;
    display: inline-block;
    list-style: none outside none;
    li {
      display: inline-block;
      a {
        display: block;
        padding-right: 5px;
        padding-left: 5px;
        &.selected {
          font-weight: bold;
        }
      }
    }
  }
}
