// They will automatically be included in application.css.s
// You can use Sass (SCSS) here: http://sass-lang.com/

$header: 33px;
$header_line: 27px;
$tab: 39px; // also in results.css / custom_tables.css
$width: 1000px;

//
//
//
//
//
// Structure
////////////////////////////////


ul,li {
  overflow:visible;
}

body {
  margin: 0px;
  padding:0px;
  background-image: image-url("background.png");
  overflow-y: scroll;
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}


h1,h2,h3,h4,h5 {
  font-family: 'Merriweather', serif;
  margin-bottom: 0em;
}

#login_menu {
  @extend #content;
  ul.menu {
    //padding-top: 57px;
    li {
      a {
      }
    }
  }
}

$gray:#aaa;
$radius:5px;
$padding:30px;


#content_wrapper {
padding-left: $padding;
  padding-right: $padding;
}

.flash {
  @extend #content_wrapper;
  padding-top: $padding/2;
  padding-bottom: $padding/2;
  text-align: center;
  div.right {
    float:right;
  }
  & .close_flash {
    div {
    border: 1px solid #d38d5f;
    padding-left:3px;
    padding-right:3px;
    padding-bottom:2px;
    padding-top:1px;
    }
    font-size:80%;

  }
}


#main-content {
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  padding-bottom:$padding;
  width: $width+$padding*2;
  margin-left:auto;
  margin-right:auto;
  //border: 1px solid black;
  background-image: none;
  background-color: #fff;
  margin-bottom:$padding;
}

#fixed-header {
  opacity: 1;
//  position: fixed;
//  top: 0;
  width: 100%;
  z-index: 990;
}

#header-wrapper {
  width: $width + $padding*2;
  margin:auto;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;

}

#logo {
  padding-top:1em;
  display:block;
}

#header {
  background-color: #036;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 75%;
  padding-left: $padding;
  line-height: 20px;
}

#footer {
  text-align:center;
  margin-top: 5px;
  margin-bottom: 20px;
  span {
    font-size: 85%;
  }
  ul.menu{
    text-align: center;;
    padding-left: 0px;
    margin-top: 0px;
    display: block;
    list-style: none outside none;
  }
  li {
      display: inline-block;
      line-height: $header_line;
      padding: 0;
      position: relative;
      vertical-align: top;
      a {
        display: block;
        padding-right: 5px;
        padding-left: 5px;
      }

    }
}

#feedback {
  position: absolute;
  left: $width + $padding*2;

  -ms-transform: translateY(100px) rotate(-90deg);
  -webkit-transform: translateY(100px) rotate(-90deg);
  -moz-transform: translateY(100px) rotate(-90deg);
  transform: translateY(100px) rotate(-90deg);

  -ms-transform-origin:0% 0%;;
  -webkit-transform-origin:0% 0%;;
  transform-origin: 0% 0%;

  padding: 10px 10px 10px 10px;
  font-weight: bold;
  background-color: white;

  text-align: center;

  border-right: 1px solid #5EB935;
  border-top: 1px solid #5EB935;
  border-bottom: 1px solid #5EB935;
  border-left: 1px solid #5EB935;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

}

#feedback-wrapper{
  position: absolute;
  wdith: $width;
  top: $padding * 3;
}

//
//
//
//
//
// Menu
////////////////////////////////

#menu ul.menu,
#login_menu ul.menu {
  height: 100%;
  margin:0px;
  li {
    height: 100%;
    line-height: $header_line;
    padding: 0;
    position: relative;
    vertical-align: top;
    a {
      text-align:center;
      height: 100%;
      border-top: 2px solid transparent;
      color: white;
      text-decoration: none;
      padding-right: 5px;
      padding-left: 5px;
      &:hover,
      &:active,
      &:focus {
        background-color: #8FB77C;
      }
      &.selected {
        border-top: 2px solid #DD4B39;
        color: white;
        text-align: center;
      }
    }
  }
}

#login_menu ul.menu {
  float: right;
  border-right: 1px solid #5EB935;
  border-left: 1px solid #5EB935;
  border-bottom: 1px solid #5EB935;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  //background-color: #5EB935;
  margin-left: auto;
  margin-right: 0px;
    li {
      color: gray;

      a {
        color: gray;
        &:hover,
        &:active,
        &:focus {
          color:white;
          background-color: #8FB77C;
        }
        &.selected {
          &:hover,
          &:active,
          &:focus {
            color:white;
          }
          color: gray;
        }
      }
    }
}

#menu {
  background-color: #5EB935;
  border-bottom: 0px solid #000000;
  height: $header;
  margin:0px;
  padding:0px;
  padding-left: $padding - 7;
  ul.menu {
    margin-top: 0px;
  }
  // used for '>' character
  span {
      margin-left: 10px;
      vertical-align: middle;
      color:#DD4B39;
      float:left;
      line-height: $header_line + 6;
      font-size:1.5em;
    }
  div.menu-wrapper {
    float:left;
    height: 100%;
  }
}

div.menu {
  ul.menu {
    margin-left:0px;
    padding-left: 0px;
    display: inline-block;
    list-style: none outside none;
    li {
      display: inline-block;
      a {
        display: block;
        padding-right: 5px;
        padding-left: 5px;
        &.selected {
          font-weight: bold;
        }
      }
    }
  }
}

#content {
  ul.menu {
    li {
      padding:0px;
     // margin-right: 2px;
    }
  }
}

//
//
//
//
//
// General
////////////////////////////////

.notice,
.alert,
.success,
.info {
#  padding: 50px 20px;
#  margin-top: 1em;
}

.flash {

}
.notice {
  background-color: #FFF6BF;
  border: 1px #FFD324 solid;
}

.alert {
  background-color: #FFCBBC;
  border: 1px #FF4332 solid;
}

.success {
  background-color: #D7FFCC;
  border: 1px #62FF47 solid;
}


.center {
  margin: 0 auto;
}

.text-center {
  text-align:center;
}

img {
  border: 1px solid #333;
  margin-left: 2em;
}

img.noborder{
  border: none;
  margin-left: 0em;
}

p,dl,ul {
  margin-left: $tab;
}


.dim {
  color: #777;
}
a {
  text-decoration: none;
  color: #333;
  &:visited { }
  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
    color: black;
  }
  &.out-link {
    text-decoration: none;
    &:visited { }
    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    & img.out-link-img {
      //background-size: 30px;
      background-repeat: no-repeat;
      width: 10px;
      //vertical-align: top;
      height: 18px;
    }
    &.out-link-pos {
      & img.out-link-img{
        background-image: image-url('navigation/out.svg');
        background-position: 0 0;
      }
      color: #1122CC;
    }
    &.out-link-neg {
      & img.out-link-img{
        background-image: image-url('navigation/out.svg');
        background-position: -10px 0px;
      }
      color: #42B4E6;
    }
  }
}

h5.button {
  padding-left:1em;
  background-image: image-url('plus.png');
  background-repeat:no-repeat;
}


form {
  display:inline-block;
}

div.actions {
  margin-left: auto;
  text-align: right;
}

div.field {
  label {
    font-weight: bold;
  }

  input,
  textarea,
  select {
    @extend p;
  }
}


.one_tab {
  margin-left: $tab;
}

.download {
  color:#666666;
}

//
//
//
//
//
// Specific
////////////////////////////////

.tooltip-text {
  display: none;
  & p {
    @extend .no-margin-left;
  }
}

.options {
  width: 100%;
  text-align: right;
}


div#experiment_chart {
  width: $width;
}

.new {
  margin-bottom:2em;
}

.gray {
  color: $gray;
}

ul.p {
  margin-left:39px;
}

.partial-hide {
  overflow: hidden;
}

//
//
//
//
//
// Helpers
///////////////////////////////

.no-weight {
  font-weight: normal;
}

.no-margin-left {
  margin-left: 0;
}

.a-dark {
  text-decoration: none;
  color: $gray;
  &:visited { }
  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
    color: white;
  }
}

.hide {
  display:none;
}

.hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.fake-link:hover {
  cursor: pointer;
}

.padding-bottom-2em {
  padding-bottom: 2em;
}

.info-i {
  background-image: image-url('info.png');
  background-image: image-url('info.svg');
  background-repeat: no-repeat;
  background-position: top right;

  float:right;

  width: 12px;
  height: 13px;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  &:hover {
    @extend .fake-link:hover;
  }
}
