// Place all the styles related to the DynaModel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.highlight {
  font-weight: bold;
}

.limit {
  background-color: #FEEECD;
  border-color: #500000;
}

.close {
  background-color: #FEEECD;
  border-color: #500000;
}
